@import './../../../assets/scss/variable.scss';
.footerCard {
    background-color: #EAF3E5;
    padding: 35px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 290px;
    max-width: 290px;
}
.footergrid
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footergridmenu
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footermiddle_link
{   gap:0 40px;
    display: flex;
    flex-wrap: wrap;
    span{
        margin-bottom: 15px;
    }
}
.locationtitle
{
    padding-left: 150px;
    padding-bottom: 330px;
    padding-top: 100px;
    @media screen and (max-width:$lg__screen)
    {
        padding-left: 0px;
    }
    @media screen and (max-width:$md__screen)
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.title {
    color: white;
    @media screen and (max-width:$xl__screen)
    {
        padding-bottom: 20px;
    }
}

.icon {
    width: 25px;
    margin-bottom: 30px;
}

.cardTitle {
    font-size: 1.7em;
}

.ctaCont {
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 30px;
    align-self: end;
    border-radius: 50%;
    cursor: pointer;

}

.arrow {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 1px rgba(255,255,255,0.3);
    padding: 5px;
    margin-left: 15px;

    svg {
        width: 12px;
    }

    path {
        stroke: white !important;
    }
}