.property-single-container {
    
    .inner-cont {
        margin: 0;
    }
}

.building-selector {
    .Dropdown-control,
    .Dropdown-root {
        display: inline-block;
        width: auto;
        border: none;
    }
    .Dropdown-menu {
        top: 70%;
    }
    .Dropdown-menu .Dropdown-option.is-selected {
        background-color: #e2e2e2;
        color: #686868;
    }

    .Dropdown-placeholder,
    .Dropdown-option {
        font-family: 'Danmark URW';
        font-size: 48px;
        color: #7B9E6B;
    }

    .Dropdown-option {
        font-size: 25px;
    }
}

// .property-single {
//     min-height: 100vh;
//     background-image: url('../../images/test/prop-bg.jpg');
//     background-size: cover;
//     background-position: bottom;
//     display: flex;
//     align-items: center;
//     margin-top: 50px;
//     // padding-top: 70px;
//     padding-top: 125px;

//     @media all and (min-width: 64em) {
//         // padding-top: 100px;
//         padding-top: 145px;
//     }

//     &:before {
//         content: "";
//         position: fixed;
//         top: 0;
//         z-index: 1;
//         width: 100%;
//         height: 100px;
//         background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
//         pointer-events: none;
//     }

//     .property-single-col {
//         // width: 50%;
        
//         // @media all and (min-width: 64em) {
//         //     width: 50%;
//         // }

//         &.property-details {
//             background-color: #1D1D20;
//             padding: 0;
//             padding-left: 50px;
//             padding-right: 50px;
//             margin-top: 5px;
//             position: relative;

//             @media all and (min-width: 64em) {
//                 padding-left: 0;
//                 padding-right: 0;
//                 width: 50%;
//             }

//             @media all and (min-width: 85.375em) {
//                 width: 40%;
//             }

//             .back-button {
//                 position: absolute;
//                 top: 20px;
//                 left: 30px;
//                 font-size: 0.8em;
//             }

//             .form-stage {
//                 .back-button {
//                     position: relative;
//                     left: 0;
//                     top: 0;
//                 }
//             }

//             .inner-col {
//                 overflow: hidden;
//             }
            
//             @media all and (min-width: 64em) {
//                 margin-right: 5px;
//                 margin-top: 0;
//                 // padding: 0;
//             }

//             .accent-text {
//                 h2 {
//                     display: inline-block;
//                 }
//             }

//             .property-number-text {
//                 color: #fff;
//                 display: inline-block;
//                 font-family: "Butler";
//                 font-size: 0.35em;
//                 padding-right: 10px;
//             }
//         }

//         .inner-col {
//             padding: 75px 0 50px;
//         }
//     }

//     .meta-data {
//         margin-top: 5px;
//         font-family: "Butler", serif;
//     }

//     .property-meta-data {
//         margin-top: 30px;
//         display: flex;
//         width: 200%;
//         align-items: center;
//         transition: transform 0.7s ease-out,
//                     height 1s ease-out;

        
//         @media all and (min-width: 64em) {
//             .res-row {
//                 margin-left: -20px;
//                 margin-right: -20px;
//             }

//             .res-row [class^="col-"] {
//                 padding: 0 20px;
//             }
            
//             // padding-left: 30px;
//             // width: calc(200% - 120px);
//         }

//         @media all and (min-width: 85.375em) {
//             .res-row [class^="col-"] {
//                 padding: 0 20px;
//             }

//             // padding-right: 50px;
//             // padding-left: 50px;
//             // padding: 0;
//         }

//         &.form-active {
//             transform: translateX(-50%);
//         }

//         .stage {
//             width: 100%;
//             opacity: 0;
//             transition: opacity 0.5s ease-out;

//             @media all and (min-width: 64em) {
//                 width: 50%;
//                 padding: 0 30px;
//                 // padding-right: 30px;
//                 // padding-left: 30px;
//                 // padding: 0;
//             }
    
//             // @media all and (min-width: 85.375em) {
//             //     padding-right: 50px;
//             //     padding-left: 50px;
//             //     // padding: 0;
//             // }

//             &.active {
//                 opacity: 1;
//                 transition: opacity 0.5s ease-out 0.5s;
//             }
//         }
//     }

    
//     .plan {
//         padding: 0 !important;
//         background-color: white;

//         @media all and (min-width: 64em) {
//             width: 50%;
//         }

//         @media all and (min-width: 85.375em) {
//             width: 60%;
//         }
        
//         .inner-col {
//             height: 100%;
//             padding-top: 0;
//         }

//         img {
//             // max-width: 300px;
//             margin: 0 auto;
//             object-fit: contain;
//             width: 100%;
//             height: 98%;
//         }

//         .inner-plan {
//             padding: 100px;
//         }

//         .res-row {
//             margin: 0;
//         }

//         .plan-option {
//             cursor: pointer;
//             padding-top: 20px;
//             padding-bottom: 20px;
//             background-color: #FAF7F7;
//             font-size: 1.1em;
//             position: relative;

//             &:after {
//                 content: "";
//                 position: absolute;
//                 width: 0;
//                 bottom: 0;
//                 left: 0;
//                 height: 1px;
//                 background-color: #707070;
//                 transition: width 0.5s ease-in-out;
//             }

//             &.active {
//                 background-color: #fff;
//                 font-weight: bold;
                
//                 &:after {
//                     width: 100%;
//                 }
//             }
//             // padding: 20px;
//         }

//         .plan-container {
//             position: relative;
//             height: 100%;
//             min-height: 500px;
            
//             .property-plan {
//                 padding: 0 50px;
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 display: flex;
//                 align-items: center;
//                 opacity: 0;

//                 &.active {
//                     opacity: 1;
//                 }
//             }
//         }
//     }

//     .contact-bar {
//         background-color: transparent;
//         padding: 0;
//         margin-top: 30px;

//         @media all and (min-width: 64em) {
//             margin-right: 30px;
//             margin-left: 30px;
//             // padding: 0;
//         }

//         @media all and (min-width: 85.375em) {
//             margin-right: 50px;
//             margin-left: 50px;
//             // padding: 0;
//         }
//     }
// }

.floorplan-container {
    // width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    border: 10px solid #1D1D20;

    .image-container {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.button-select {
    @media all and (min-width: 64em) {
        display: none;
    }
}

.building-select-container {
    // padding: 0px;
    border: 0px;
    // width: 100vw;
    // height: 100vh;
    // padding-top: 100px;
    // padding: 100px 50px;
    padding-top: 0;
    padding: 0;
    
    @media all and (min-width: 64em) {
        padding: 100px;
        padding-top: 0;
        padding-bottom: 0 !important;
    }

    .image-container {
        // background-color: #fff;
        width: 100%;
        // height: 100%;

        img {
            // object-fit: contain;
            width: 100%;
            // height: 100%;
        }
    }
}

.property-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    // border-bottom: solid 2px #4D4D4D;
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;
    
    @media all and (min-width: 64em) {
        margin: 0 15px;
        padding: 10px 0px;
    }

    &.header-row {
        text-transform: uppercase;
        padding: 15px 10px;
        margin: 0;
        // background-color: #F5F5F5;
        border-bottom: 0;
        color: #000000;
        font-size: 0.65em;
        letter-spacing: 1px;
        
        @media all and (min-width: 64em) {
            font-size: 0.8em;
            padding: 15px 15px;
        }

        .property-row-item {
            position: relative;
            max-width: 60px;
            transition: opacity 0.3s ease-in-out;

            @media all and (min-width: 64em) {
                max-width: none;
            }   

            &:hover {
                opacity: 0.4;
                cursor: pointer;
            }

            &:not(:last-of-type) {
                &.selected {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
                
                @media all and (min-width: 64em) {
                    &:before {
                        content: "";
                        border-color: black transparent transparent;
                        border-style: solid;
                        border-width: 4px 4px 0;
                        display: block;
                        height: 0;
                        // margin-top: -ceil(2.5);
                        position: absolute;
                        bottom: 32%;
                        right: 10px;
                        // top: 50%;
                        width: 0;
                        // left: 50%;
                        transform: translate(-50%, 0);
                    }
                }        
            }
        }
    }
    
    .property-row-item {
        flex: 1;
        text-align: left;
        padding-right: 20px;

        @media all and (min-width: 64em) {
            text-align: left;
            padding-right: 15px;
        }

        // &:nth-of-type(3) {
        //     display: none;
        // }
        
        &.button-row {
            text-align: center;
            // font-family: "Lato", sans-serif;
            margin-top: 0;
            padding-right: 0;
            
            @media all and (min-width: 64em) {
                margin-right: 10px;
            }

            .inner-button {
                padding: 10px;
                background-color: #FFFF;
                border-radius: 50px;
                text-transform: uppercase;
                font-size: 0.9em;
                color: #a7815c;
                transition: all 0.5s ease-in-out;

                span:before {
                    content: "More Info"
                }
            }
        }
    }
}

.contact-bar {
    background-color: #242424;
    padding: 30px;
    // padding-left: 0;
    color: #D9D9D9;
    font-size: 0.9em;
    // margin-top: 30px;

    &.foreign-contact-bar {
        background-color: transparent;
        color: white;
        padding-left: 0;
        margin-top: 30px;

        .sales-email {
            color: #EFB697;
        }
    }

    .sales-email {
        margin-top: 5px;
    }

    .sales-consultant,
    .sales-number {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bold;
        // font-size: 110%;
    }

    .col-1:last-of-type {
        // text-align: right;

        .button {
            display: block;
            width: 100%;
            float: right;
        }
    }
}

.property-scroll-outer {
    overflow-y: scroll;
    // height: calc(100vh - 410px);
    height: calc(100vh - 280px);

    .property-scroll-inner {
        padding-bottom: 100px;

        & > a .apartment {
            opacity: 0;
            transform: translateY(10px);
        }
    
        @for $i from 1 through 15 {
            & > a:nth-of-type(#{$i}) .apartment {
                transition: all 0.3s ease-in-out;
                // display: none;
                transition: 1s ease-in-out (1s + (0.2s * $i));
            }
        }

        &.loaded {
            & > a .apartment {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
}

.apartment-list {
    position: relative;
    // z-index: 2;
    display: block;
    // color: white;
    // background-color: #1D1D20;
    width: 100%;
    // height: calc(100vh - 300px);
    overflow: hidden;
    background-color: #F0E8D6;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    margin-bottom: 40px;
    padding: 50px 100px;
    z-index: 99;
    
    @media all and (min-width: 64em) {
        // width: 50%;
    }

    .apartment {
        // color: white;
        // font-family: 'Butler';
        letter-spacing: 0.5px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        background-color: #f7f7f0;

        &:nth-of-type(even) {
            background-color: #f0e8d6;
        }

        &.sold {
            color: #5f5f5f;

            .property-row {
                .button-row {
                    .inner-button {    
                        span:before {
                            content: "Sold"
                        }
                    }
                }
            }

            &:hover,
            &.active {
                .property-row {
                    background-color: #969696;
                    // color: black;

                    .button-row {
                        .inner-button {    
                            span:before {
                                content: "Sold"
                            }
                        }
                    }
                }
            }
        }

        &.onhold {
            &:hover,
            &.active {
                .property-row {
                    .button-row {
                        .inner-button {    
                            span:before {
                                // content: "On Hold"
                            }
                        }
                    }
                }
            }
        }

        &:hover,
        &.active {
            background-color: #aad392 !important;

            .property-row {
                color: black;
                
                .button-row {
                    .inner-button {
                        color: #EFB697;
                        background-color: #FFFF;

                        span:before {
                            content: "More Info"
                        }
                    }
                }
            }
        }
    }
}

.dropdown-container {
    margin-top: 20px;
    
    .dropdown {
        // padding: 30px 0;
        // border-bottom: 1px solid rgba(#6352454D, 0.3);
        position: relative;

        label {
            color: #635245;
        }

        .Dropdown-root {
            padding: 0;
            
            .Dropdown-placeholder {
                color: #635245;
                font-size: 1.1em;
            }

            .Dropdown-control {
                border-bottom: 1px solid rgba(#6352454D, 0.3);
                padding: 40px 0 !important;
            }

            .Dropdown-menu {
                background-color: #f7f7f0;
                border: none;
                max-height: none;

                .Dropdown-option {
                    color: #635245;
                    font-size: 1.1em;
                    border-top: solid 1px #e8e8e8;
                    padding-top: 12px;
                    padding-bottom: 12px;

                    &:hover {
                        background-color: #d9d9d9;
                    }

                    &.is-selected {
                        background-color: #7b9e6b;
                        color: white;
                    }
                }
            }

            .Dropdown-arrow-wrapper {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                border: solid 1px rgba(#6352454D, 0.3);
                top: 50%;

                .Dropdown-arrow {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-color: #999 transparent transparent !important;
                }
            }

            .is-open .Dropdown-arrow {
                
                transform: rotate(180deg);
            }
        }

        .arrow-icon {
            // position: absolute;
            // right: 0;
            // top: 50%;
            // transform: translateY(-50%);
            // width: 38px;
            // height: 38px;
            // border-radius: 50%;
            // border: solid 1px rgba(#6352454D, 0.3);
            
            // &:before,
            // &:after {
            //     content: "";
            //     position: absolute;
            //     background-color: #635245;
            //     width: 8px;
            //     height: 1px;
            //     top: 46%;
            //     left: 50%;
            // }

            // &:before {
            //     transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
            //     transform-origin: left center;
            // }

            // &:after {
            //     transform: translate(calc(-50% + 2px), -50%) rotate(-45deg);
            //     transform-origin: right center;
            // }
        }

    
    }
}